.wh {
  width: 600px;
  height: 300px;
  border: 4px solid black;
}
#first {
  background-color: bisque;
}
h1,
h2 {
  text-transform: capitalize;
}
#k {
  background-color: darkred;
  padding: 150px;
}
div {
  background-color: black;
}
.h {
  width: 500px;
  height: 450px;
  border: 4px solid gainsboro;
}
#font{
  font-family: 'Courier New', Courier, monospace;
}
